*,
body {
  font-size: 1.1rem;
}

body {
  padding: 2.5rem;s
}

.button {
  border: none;
  border-radius: 8px;
  color: white;
  height: 3rem;
  width: 6rem;
  background-color: indigo;
}


/* css props */
.flex {
  display: flex;
  flex-direction: column;
}